<section>
  <h2>Planning des cours</h2>
  <p>Retrouvez ici tous les cours réservables! </p>
  <%= turbo_frame_tag "yoga_sessions", class: 'yogaclass' do %>
    <%= render @yoga_sessions %>
  <% end %>
</section>
