<section>
	<h2>Confirmation de réservation</h2>
	<div>
		<p>Réservation effectuée!</p>
		<p>	Merci et à très vite au studio !</p>
		<p>Vous pouvez retrouver toutes vos réservations dans votre profil</p>
		<%= link_to 'ICI', user_path(current_user), class: 'btn' %>
	</div>
</section>
<%# <script>
    localStorage.clear();
</script> %>