<section>
    <h2>Erreur 500</h2>
<p>Une erreur est survenue, merci de vous reconnecter plus tard ou de contacter un administrateur.</p>

<%= link_to "Retour à l'accueil du site", root_path %></a>
</section>