<section>
	<h2>L'équipe du Yoga Studio</h2>
	<% @teachers.each do |teacher| %>
	<article class="team__element team--description">
		<div class="team__picture">
			<div>
				<% if teacher.picture.url %>
				<img src="<%= rails_blob_path(teacher.picture, disposition: "attachment", expires_in: 60.seconds) %>" alt="photo de <%= teacher.full_name %>">
				<% end %>
			</div>
		</div>
		<h3><%= teacher.full_name %></h3>
		<p><%= teacher.bio %></p>
	</article>
	<% end %>
</section>