        <footer class="footer">
            <div class="footer__social">
                <h3>follow us</h3>
                <div>    
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="footer__contact">
                <div>
                    <h3>phone</h3>
                    <p>04 84 56 87 90</p>
                </div>
                <div>
                    <h3>contact</h3>
                    <a href='mailto:yogastudio@gmail.com'>yogastudio@gmail.com</a>
                </div>
                <div>  
                    <h3>adresse</h3>
                    <p>rue de la plage</p>
                    <p>58700 Paradise</p>
                </div>
            </div>
        </footer>